
header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

main {
    padding: 2rem;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border: 2px solid #ddd;
}